* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: radial-gradient(
        circle farthest-corner at 96.1% 7.2%,
        rgba(9, 178, 62, 1) 0%,
        rgba(19, 19, 19, 1) 100.2%
    );
}

.my-5 {
    margin: 5rem 0;
}

.card {
    background-color: #21272a;
}
